

<? include_once("views/common/header.html"); ?>

    <div class="container">
        <form method="post">
            <div class="mb-3">
                <label class="form-label">Жанр</label>
                <input type="text" class="form-control" name="genre" value="<?= isset($genre) ? $genre['genre_name'] : ''; ?>">
            </div>
            <button type="submit" class="btn btn-primary">
                <?= isset($genre) ? 'Изменить' : 'Добавить'; ?>
            </button>
        </form>
    </div>

<? include_once("views/common/footer.html"); ?>