
<? include_once("views/common/header.html"); ?>

<div class="container">
    <form method="post">
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" name="email">
        </div>
        <div class="mb-3">
            <label class="form-label">Пароль</label>
            <input type="password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-primary">
            Авторизироваться
        </button>
    </form>
</div>

<? include_once("views/common/footer.html"); ?>